.navbar-nav > li{
    margin-left:80px;
    margin-right:80px;
    background-color: #000000;
    
  }
#coll{
    font-style: normal;
    
}
.nav.navbar-nav li a {
    color: white;
    font-family: Comic Sans MS;
}
.navbar-brand{
    font-family: Comic Sans MS;
    font-size: 30px;
    
}