
<head>
    <title>Footer with Button and Logo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
</head>


<div class="content">
</div>
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <h2 class="logo"><a>  <img style="max-width:150px;"
                      src="assets/images/usmie.jpg"></a></h2>
                </div>
                <div class="col-sm-2">
                    <h5>Meat & Eat</h5>
                    <h2 class="logo"><a>  <img style="max-width:100px;"
                      src="assets/images/me.png"></a></h2>
                </div>
                <div class="col-sm-2">
                    <h5>Long Live Pizza</h5>
                    <h2 class="logo"><a>  <img style="max-width:100px;"
                      src="assets/images/logo.png"></a></h2>
                </div>
                <div class="col-sm-2">
                  <h5>99 Tossai</h5>
                  <h2 class="logo"><a >  <img style="max-width:150px;"
                    src="assets/images/99.png"></a></h2>
              </div>
              <div class="col-sm-2">
                  <h5>Thattu Idly Kadai</h5>
                  <h2 class="logo"><a >  <img style="max-width:150px;"
                    src="assets/images/thattu.jpeg"></a></h2>
              </div>
             
              <div class="col-sm-2">
                  <h5>Scroll Station</h5>
                  <h2 class="logo"><a >  <img style="max-width:150px;"
                    src="assets/images/schnell.jpeg"></a></h2>
              </div>
              <div class="col-sm-2">
                  <h5>Glacies Crepito</h5>
                  <h2 class="logo"><a >  <img style="max-width:150px;"
                    src="assets/images/gc.jpg"></a></h2>
              </div>
            
                <div class="col-sm-2">
                    <h5>Tony & Guy</h5>
                    <h2 class="logo"><a >  <img style="max-width:100px;"
                      src="assets/images/ton.png"></a></h2>
                    <div class="modal fade" id="myModal3" role="dialog">
                            <div class="modal-dialog">
                            
                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title" style="color:black">Contact</h4>
                                </div>
                                <div class="modal-body" style="color :black">
                                  <p>Mobile 1 :</p> <p>+91 9994686858</p>
                                  <p>Mobile 2 :</p> <p>+91 9894038490</p>
                                  <p>Mobile 3 :</p> <p>+91 9894282505</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                       
                        
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                
                <div class="col-sm-2">
                    <div class="social-networks">
                        <a href="https://www.instagram.com/u_smile.pvt.ltd/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.facebook.com/usmilepvtltd/" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="http://twitter.com/Usmilepvtltd/" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                   <a data-toggle="modal" data-target="#myModal3">
                    <button type="button" class="btn btn-default">Contact us</button>
                   </a>
                    
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© Copyright 2017 U-Smile Private Ltd </p>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  
    

