<!-- <div class="row">
  <div class="col-md-12">
      <ngb-carousel>
          <ng-template ngbSlide *ngFor="let slider of sliders">
              <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
              <div class="carousel-caption">
                  <h3>{{slider.label}}</h3>
                  <p>{{slider.text}}</p>
              </div>
          </ng-template>
      </ngb-carousel>
  </div>
</div> -->

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="node_modules/chart.js/Chart.min.js"></script>
  <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
</head>
<div class="container" >
  
  <div class="col-md-9 col-sm-9 col-lg-9">
      <h2 style="text-align: center; color:white;" >Experience Your Smile</h2>  
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{sliders[0].imagePath}}" class="img-responsive" alt="Los Angeles" style="width:100%;">
       <div class="carousel-caption">
                        <h3>Tony & Guy </h3>
                       
                    </div>
        </div>
  
        <div class="item">
          <img src="{{sliders[1].imagePath}}" class="img-responsive" alt="Chicago" style="width:100%;">
          <div class="carousel-caption">
            <h3>Long Live Pizza </h3>
           
        </div>
        </div>
      
        <div class="item">
          <img src="{{sliders[2].imagePath}}" class="img-responsive" alt="New york" style="width:100%;">
          <div class="carousel-caption">
            <h3>Meat And Eat </h3>
           
        </div>
        </div>
        <div class="item">
          <img src="{{sliders[3].imagePath}}" class="img-responsive" alt="New york" style="width:100%;">
          <div class="carousel-caption">
            <h3>99 Variety Dosa </h3>
           
        </div>
        </div>
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <br>
  <div class="col-md-3 col-sm-3 col-lg-3">
     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <div class="card card-inverse" style="background-color: #221E1E; border-color: #353434;">
      <img class="img-thumbnail" src="./assets/images/sulai.jpg" data-toggle="modal" data-target="#myModal1" alt="John" style="width:100%;cursor: pointer;">
      <hr>
      <h3>Sulaiman</h3>
      <p class="title">Founder & Chairman</p>
      <p>U-smile Pvt Ltd</p>
     
      <a href="https://www.instagram.com/sulaiman9006/" target="_blank"><i class="fa fa-instagram"></i></a> 
      
      <a href="#" target="_blank"><i class="fa fa-facebook"></i></a> 
     
    </div>
    <br><br>
    <div class="card card-inverse" style="background-color: #221E1E; border-color: #353434;">
        <img  class="img-thumbnail" src="./assets/images/etine.jpg" data-toggle="modal" data-target="#myModal3" alt="John" style="width:100%;cursor: pointer;">
        <hr>
        <h3>Etienne Saint Hubert</h3>
        <p class="title">Founder Cum Director</p>
        <p>U-smile Pvt Ltd</p>
        
        <a href="https://www.instagram.com/etiennesainthubert/" target="_blank"><i class="fa fa-instagram"></i></a> 
      
        <a href="https://www.facebook.com/EtienneSaintHubert" target="_blank"><i class="fa fa-facebook"></i></a> 
       
      </div>
      <br>
      <br>
      <div class="card card-inverse" style="background-color: #221E1E; border-color: #353434;">
          <img class="img-thumbnail" src="/assets/images/jj.jpg" data-toggle="modal" data-target="#myModal" alt="John" style="width:100%;cursor: pointer;">
          <hr>
          <h3>Jagatheesh</h3>
          <p class="title">Founder Cum Director</p>
          <p>U-smile Pvt Ltd</p>
         
          <a href="https://www.instagram.com/jagatheesh_j/" target="_blank"><i class="fa fa-instagram"></i></a> 
          
          <a href="https://www.facebook.com/jagatheesh.jagajeevanram" target="_blank"><i class="fa fa-facebook"></i></a> 
         
        </div>
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:black">Director's Words</h4>
              </div>
              <div class="modal-body" style="color :black">
                <p>"Dreams originate in sleep but to turn them into a reality, requires awakened senses. It is our awareness that guides us in this highly competitive and volatile world which is changing by every second. We have mushroomed in every nook and corner adding to the satisfaction of customers. We have done wonders in the past and we are confident of our future. We aim to increase our volumes across every part of the value chain and quadruple our value in the market. The company has witnessed strong development in infrastructure and network expansion. With a dedicated team of people at all levels, I am confident that U smile Group will continue to deliver outstanding results in the upcoming years . Meeting customer expectations and ensuring their satisfaction at all times has been made possible by the untiring efforts of U-smile team. I am confident that we shall continue to offer the best in terms of products, services and more importantly, values."</p> 
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
        </div>
        <div class="modal fade" id="myModal1" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:black">Chairman's Words</h4>
              </div>
              <div class="modal-body" style="color :black">
                <p>"If you want to be a successful person "Change Yourself, Whether it is a success or a failure the sole reason for it is us and only us. Almost everything in this world has been discovered already, copy the idea and give your 100% with confidence and the positivity will follow you!.I believe that "Hardwork Never Fails" , hardwork is like throwing a ball towards the wall it will come back to you faster and right into the target.In 2016 we started U-Smile with one outlet and now we have three, one among it is our own brand "99 Tossai".Our ultimate aim is to raise U-smile to international standards and we are working towards it "NOTHING IS IMPOSSIBLE"" </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
        </div>
        <div class="modal fade" id="myModal3" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:black">Director's Words</h4>
              </div>
              <div class="modal-body" style="color :black">
                <p >"When you successfully create a connection with your customers and employees, many of them might stay loyal for life and you will have the chance to increase your overall profitability while building a solid foundation of brand promoters. But achieving that connection is no easy task. The companies that succeed are ones that stay true to their core values over the years and create a company that  employees and customers are proud to associate with."</p> 
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
        </div>
  </div>
  
    <div class="col-md-6 col-sm-6 col-xs-6">
      <canvas id="doughnut" class="chart chart-doughnut"
      chart-data="data" chart-labels="labels">
    </canvas> 
    </div>
  

<script>
  angular.module("myModule", ["chart.js"]).controller("DoughnutCtrl", function ($scope) {
  $scope.labels = ["Download Sales", "In-Store Sales", "Mail-Order Sales"];
  $scope.data = [300, 500, 100];
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js">
  
</script>
</div>

