<div class="container">
  <div class="page-header">
    <h1 id="timeline" style="color:white">Our Success Timeline</h1>
  </div>
  <ul class="timeline">
      <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title" style="color:white">Coming Soon</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Coming Soon</small></p>
            </div>
            <div class="timeline-body">
         <p>
           Lot more Ventures yet to come ...
         </p>
            </div>
          </div>
        </li>
      <li class="timeline-inverted">
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title" style="color:white">Thattu Idly Kadai</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 26th Feb 2018</small></p>
            </div>
            <div class="timeline-body">
         <p>
            Opening Ceremony of Thattu Idly Kadai in OMR Food Street, Guduvancherry.
         </p>
            </div>
          </div>
        </li>
      <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title" style="color:white">Scroll Station</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 26th Feb 2018</small></p>
            </div>
            <div class="timeline-body">
         <p>
            Opening Ceremony of Scroll Station in OMR Food Street, Guduvancherry.
         </p>
            </div>
          </div>
        </li>
      <li class="timeline-inverted">
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title" style="color:white">TONI & GUY</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 14th Dec 2017</small></p>
            </div>
            <div class="timeline-body">
         <p>
           Stepping Succesfully into owning a franchise in unisex Beauty and spa of Tony & Guy .
         </p>
            </div>
          </div>
        </li>
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title" style="color:white">Glacies Crepito</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 13th Dec 2017</small></p>
        </div>
        <div class="timeline-body">
     <p>
   Opening Ceremony of Glacies Crepito in Pondicherry.
     </p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title" style="color:white">99 Tossai</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 9th Nov 2017 </small></p>
          
        </div>
        <div class="timeline-body">
          <p>Opening Ceremony of our own venture "99 Tossai" and second branch of Meat & Eat and Long Live Pizza in GST road Guduvanchery </p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title" style="color:white">First Aniversary</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 7th Aug 2017 </small></p>
          
        </div>
        <div class="timeline-body">
          <p>Succesfully stepping into second year</p>
        </div>
      </div>
    </li>



    <li class="timeline-inverted">
      <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title" style="color:white">Opening Ceremony</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 7th Aug 2016 </small></p>
        </div>
        <div class="timeline-body">
       <p>The Day when we started Usmile Private Ltd </p>
        </div>
      </div>
    </li>
  </ul>
</div>