<div class="container">

<div class="col-md-6 col-sm-6 col-lg-6">
   
  
        <div class="jumbotron">
          <h1>OMR Food Street</h1> 
          <p >Meat & Eat and Long Live Pizza,</p> 
          <p >Navallur,</p> 
          <p >Chennai-600130</p> 
          <a >
            <agm-map [latitude]="lat" [longitude]="lng">
              
               <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              
             </agm-map>
             <a href="https://www.google.co.in/maps/place/Meat+and+Eat+%26+Long+live+Pizza(U-smile)/@12.8495269,80.2253523,19z/data=!4m5!3m4!1s0x3a525a53848dbf57:0x9bb944164cf758e0!8m2!3d12.8495386!4d80.2259948" target="_blank">
              <button type="button" style="width:200px;color : blue" class="btn btn-default">Open Map Link in New Tab</button>
             </a>
          </a>
        </div>
       
   
</div>
<div class="col-md-6 col-sm-6 col-lg-6">
    
   
         <div class="jumbotron">
           <h1>OMR Food Street</h1> 
           <p >Meat & Eat, Long Live Pizza and 99 Tossai,Guduvanchery,</p> 
           <br>
           <p >Chennai-603202</p> 
           <a >
             <agm-map [latitude]="lat1" [longitude]="lng1">
               
                <agm-marker [latitude]="lat1" [longitude]="lng1"></agm-marker>
               
              </agm-map>
              <a href="https://www.google.co.in/maps/place/OMR+Food+Street/@12.8332562,80.0476679,17.92z/data=!4m5!3m4!1s0x3a52f708c73dd13f:0xf793ec4ae95353cd!8m2!3d12.8332338!4d80.0488736" target="_blank">
                  <button type="button" style="width:200px;color : blue" class="btn btn-default">Open Map Link in New Tab</button>
                 </a>
           </a>
         </div>
        
    
 </div>
</div>


