<div class="container">
  <div class="jumbotron">
    <h1>Our Vision</h1> 
    <!-- <p >"When you successfully create a connection with your customers and employees, many of them might <br> stay loyal for life and you will have the chance to increase your overall profitability while building a solid <br> foundation of brand promoters. But achieving that connection is no easy task. The companies that <br> succeed are ones that stay true to their core values over the years and create a company that <br> employees and customers are proud to associate with."</p>  -->
    <p>To become a billionaire in an ethical way and lift everyone associated with USMILE PVT LTD to new heights .<br> <b>Together we work and together we grow. </b></p>
    <!-- <p>                                             - Sulaiman(Founder & Chairman)</p> -->
</div>

</div>