.jumbotron {
    margin-bottom: 0px;
    
    background-image: url("/assets/images/tonyand.jpg");
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-shadow: grey 0.1em 0.1em 0.1em;
}